@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: linear-gradient(
    to bottom,
    white 0%,
    white 30%,
    #2a2f4f 30%,
    #2a2f4f 100%
  );
}

.wrapper .img-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.img-area .inner-area {
  height: calc(100% - 25px);
  width: calc(100% - 25px);
  border-radius: 50%;
}

.inner-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #2a2f4f;
  outline: 5px solid #fff;
}

.name {
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0 5px 0;
  color: #fff;
}

.about {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

.socials {
  margin: 15px 0 25px 0;
}

.socials a {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  border-radius: 50%;
}

.socials a i {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
}

.socials a.fb {
  background-color: #fff;
  color: #4267b2;
}

.socials a.tw {
  background-color: #fff;
  color: #1da1f2;
}

.socials a.ig {
  background-color: #fff;
  color: #e1306c;
}

.socials a.yt {
  background-color: #fff;
  color: #ff0000;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.buttons button {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  padding: 12px 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  color: #2a2f4f;
}

button:first-child {
  margin-right: 10px;
}

button:last-child {
  margin-left: 10px;
}

.stats {
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  justify-content: space-between;
}

.stats .row {
  font-size: 17px;
  cursor: pointer;
  position: relative;
  color: #fff;
}

.stats .row::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 2px;
  background: #fff;
  margin-left: -25px;
}

.row:first-child::before {
  background: none;
}
